.navbar-nav > li{
    padding-left:15px;
    padding-right:15px;
}

.navbar-nav{
    margin-left: -2rem;
}

.link{
    text-decoration: none;
}

.dropdown-menu li p{
    text-align: center;
}

.dropdown-menu {
    min-width:130px;
}

@media (max-width: 991.98px) {
    .navbar__logo-right, .cart-widget{
        display: none;
    }
}