.navbar-nav > li{
    padding-left:15px;
    padding-right:15px;
}

.dropdown-menu li a{
    text-align: center;
}

.dropdown-menu {
    min-width:130px;
}

@media (max-width: 991.98px) {
    .navbar__logo-right, .cart-widget{
        display: none;
    }
}